@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(28,49,126);
  background: linear-gradient(155deg, rgba(28,49,126,1) 25%, rgba(242,178,153,1) 100%);
}