@import './base.css';

@font-face {
  font-family: "Archivo SemiExpanded Italic";
  src: url('Archivo_SemiExpanded-BlackItalic.ttf')  format('truetype');
}

@font-face {
  font-family: "Archivo SemiExpanded Light";
  src: url('Archivo_SemiExpanded-Light.ttf')  format('truetype');
}

@font-face {
  font-family: "Outfit";
  src: url('Outfit-VariableFont_wght.ttf')  format('truetype');
}

html {
  background-color: #171719;
}

body {
  display: flex;
  place-items: center;
  background-image: url('./layered-waves-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#app {
  display: flex;
  flex-direction: column;
  width: 67%;
  min-width: 300px;
  max-width: 1280px;
  margin: 0 auto 15rem;
  padding: 2rem;
}

@media(max-width: 700px) {
  #app {
    width: 80%;
  }
}
